<<<<<<< HEAD
<div class="container-fluid">
=======
>>>>>>> 1e77c868ae87334476b10fa5e04ff50fd0a71ed4
<h1>New Customer</h1>

<%= render 'form' %>

<%= link_to 'Back', customers_path %>
<<<<<<< HEAD
</div>
=======
>>>>>>> 1e77c868ae87334476b10fa5e04ff50fd0a71ed4
