<!DOCTYPE html>

<div class="container-fluid">
	<html>
		<div id = "typography">
			<h1 class="display-2">Local Foods</h1>
			


			<p> New Customer? <%= link_to "Sign up now!", new_customer_path%></p>
			
			<p>"Local food", "local food movement" or the "Locavores" 
			are a movement which aim to connect food producers and food 
			consumers in the same geographic region; in order to develop 
			more self-reliant and resilient food networks, improve local economies,
			or for health, environmental, community, or social impact in a particular place.</p>
		</div>
		
	</html>
</div>