<!DOCTYPE html>
	<html>
		<head>
			<meta content="text/html;charset=UTF-8"http-equiv="Content-Type"/>
		</head>
			<body>
				<h1>Welcome to local foods!, <%=@customer.customer_name%></h1>
				<p> Your registration was successful. </p>
				<p> Keep growing with us! </p>
			</body>
	</html>